.blog-row{
   
    img{
        width: 50%;
        height: 300px;
    }
    .cottage-description{
        width: 50%;
        height: 350px;

     .img2{
        width: 20px;
        height: 10px;
     }
     span img{
        width: 20px;
        height: 20px;
     }
    }
}