span .calculator-image{
width: 100px;
height: 120px;
border-radius: 50%;
background-color: #fff;

   
}
.small-circle{
    width: 100px;
    height: 30px;
    margin-left: 150px;
    position: relative;
}

.work-images small{
    position: absolute;
    top: 2px;
    right: 4px;
    content: '';
    width: 20px;
    height: 20px;
    background: #cf7500;
    border-radius: 50%;
    text-align: center;
}
.work-images2{
    .blue-circle{
       margin: 20px 0;
    }
}